<div class="student-panel-layout">

  <header class="student-header">

  <div class="header-left">
    <h1>Adaptive Learning AI</h1>
    <p>Öğrenci öğrenme paneli</p>
  </div>

  <div class="header-right">

    <div class="notification-wrapper">

      <button
        class="notification-button"
        (click)="toggleNotifications()"
      >
        🔔 Bildirimler
      </button>

      <div
        class="notification-dropdown"
        *ngIf="notificationsOpen"
      >

        <div
          class="notification-card"
          *ngFor="let notification of notifications"
        >
          <h4>{{ notification.title }}</h4>

          <p>{{ notification.message }}</p>

          <small>
            {{ notification.lesson }} · {{ notification.topic }}
          </small>
        </div>

      </div>

    </div>

    <button
      class="teacher-button"
      (click)="goToTeacherDashboard()"
    >
      Öğretmen Paneline Geç
    </button>

  </div>

</header>

  <div class="student-body">

    <aside class="student-sidebar">

      <button
        [class.active]="activeSection === 'home'"
        (click)="changeSection('home')"
      >
        Ana Sayfa
      </button>

      <button
        [class.active]="activeSection === 'dashboard'"
        (click)="changeSection('dashboard')"
      >
        Dashboard
      </button>

      <button
        [class.active]="lessonsOpen"
        (click)="toggleLessons()"
      >
        Dersler
      </button>

      <div class="submenu" *ngIf="lessonsOpen">

        <button
          class="submenu-title"
          [class.active]="turkishOpen"
          (click)="toggleTurkish()"
        >
          Türkçe
        </button>

        <div class="submenu nested" *ngIf="turkishOpen">

          <button disabled>
            Sözcükte Anlam
          </button>

          <button disabled>
            Cümlede Anlam
          </button>

          <button class="active-lesson" (click)="goToLesson()">
            Paragrafta Anlam
          </button>

          <button disabled>
            Yazım Kuralları
          </button>

        </div>

      </div>

    </aside>

    <main class="student-content">

      <section *ngIf="activeSection === 'home'">
        <h2>Hoş geldin {{ studentPanelData?.studentName || 'Ayşe' }}</h2>

        <p>
          Adaptive Learning AI, öğrenme sürecini analiz ederek
          sana özel bir öğrenme deneyimi sunmayı hedefleyen
          AI destekli bir eğitim platformudur.
        </p>
      </section>

      <section *ngIf="activeSection === 'dashboard'">
        <h2>Öğrenci Dashboard</h2>

        <p>
          Son quiz sonucu, ilerleme durumu ve kişiselleştirme bilgileri burada gösterilecek.
        </p>
      </section>

    </main>

  </div>

</div>